.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureLink {
  color: inherit;
  text-decoration: none;
  display: block;
}

.featureLink:hover {
  color: inherit;
  text-decoration: none;
  opacity: 0.85;
}